# Ignore the virtual environment
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Django migrations
*/migrations/*

# Ignore media and static files
media/
static/

# Ignore sensitive files and database
db.sqlite3
*.db
.env

# Ignore macOS system files
.DS_Store