header {
  position: relative;
  height: calc(100vh - 56px);
  overflow: hidden;
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
header #video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
header #video-overlay #overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a89f9f;
  text-align: center;
}
header #video-overlay #overlay-text h1 {
  font-size: 3em;
}
header #video-overlay #overlay-text p {
  font-size: 1.5em;
}
header #main-header {
  position: relative;
  z-index: 2;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#survey-title, #icon {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1 0 auto;
}
